html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    height: 100vh;
    background: #333;
}

#board {
    outline: 2px solid greenyellow;
    display: flex;
    flex-direction: column;
    width: 512px;
    height: 512px;
    background: white;
}

#board .wrapper {
    display: flex;
    height: 100%;
}

.pixel {
    width: 100%;
    height: 100%;
    border: 1px solid #333;
}

.pixel.colored {
    background-color: lightpink;
}

button {
    margin: 8px;
    padding: 8px;
}